@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --tw-font-sans: "Roboto", sans-serif;
}

body {
  margin: 0;
  font-family: var(--tw-font-sans);
}
